.nav__link {
	display: block;
	height: 70px;
	line-height: 70px;
	/* opacity: 0.6; */
	font-size: 16px;
	font-family: Oswald, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}
